@font-face {
    font-family: ab;
    src: url(./l\ \(1\));
}

* {
    margin: 0;
    padding: 0;
    color: #323232;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    background-color: #fff;
    height: 100%;
}

.cursor {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    position: fixed;
    background-color: rgba(255, 68, 0, 0.546);
    z-index: 9999;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#main {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#page1 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100vh;
    color: #323232;

}

#text-container {
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: #323232;
    overflow: hidden;
}

#nav {
    display: flex;
    padding: 2vw 3vw;
    align-items: center;
    justify-content: space-between;
    font-family: Telegraf Medium;
}

#nav h3 {
    font-size: 3vw;
    font-weight: 100;
}

#page1 h2 {
    font-size: 3vw;
    position: absolute;
    -webkit-text-stroke: 1px #323232;
    ;
    color: transparent;
    font-family: ab;
    opacity: .2;
    font-size: 6vw;
    line-height: 1;
    font-weight: 100;
    left: 18%;
    transform: translateY(-25%);
    text-transform: uppercase;
}

.foth2 {
    position: absolute;
    transform: translateY(-10%);

}

.nav1 {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-left: 5vw;
}

.nav1 h4 {
    font-weight: 100;
    font-size: 1vw;
}

#nav button {
    /* color: white; */
    border-radius: 2vw;
    background-color: transparent;
    border: .01px solid#323232;

    padding: 1vh 2.5vh;
    font-size: .9vw;
}

#title-section {
    padding: 3vw;
    padding-top: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}


#title-section h1 {
    font-size: 7.5vw;
    line-height: 1;
    font-weight: 600;
    font-family: ab;
    color: #323232;
    left: 9%;
    letter-spacing: -0.5vw;
    position: absolute;
    text-transform: uppercase;
    margin-left: 14.5vw;
    z-index: 3;

    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s
}

#title-section h1:hover {
    -webkit-text-stroke: 1px #323232;
    color: transparent;

}

#page1 #scroll{
    width: 5vw;
    height: 5vw;
    right: 5%;
    margin-bottom: 4vw;
    position: absolute;
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
#over {
    width: 45%;
    height: 40%;
    /* background-color: red; */
    position: relative;
    margin-left: 21vw;

}

#over img {
    width: 95%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

#over #overlay {
    width: 100%;
    height: 100%;
    /* background-color: rgba(170, 44, 44, 0.215); */
    position: absolute;
    top: 0;
}

#page2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #323232;
    justify-content: center;
    position: relative;
}

#text {
    width: 100%;
    height: 40vw;
    padding-top: 5vw;
    padding-left: 30vw;
}

@font-face {
    font-family: thin;
    src: url(./Rajdhani-Medium.ttf);
}

#text h4 {
    font-family: thin;
    font-size: 2vw;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 1vw;
}

@font-face {
    font-family: nex;
    src: url(./Mazius-Extraitalic.121a71a7.otf);
}

#text h1 {
    font-family: nex;
    font-size: 5vw;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 1vw;
}

@font-face {
    font-family: semi;
    src: url(./Rajdhani-Light.ttf);
}

#text p {
    font-family: semi;
    font-size: 1vw;
    /* font-weight: 100; */
    letter-spacing: 3px;
    margin-bottom: 1vw;
}

#page-add {
    width: 100%;
    height: 100vh;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page-add #texi-text {
    text-align: center;
    /* background-color: blanchedalmond; */
}

#page-add h3 {
    font-size: 5vw;
    font-family: thin;
}

#page-add #texi-text p {
    font-size: 2.1vw;
    font-family: sans-serif;
}

#page-add #types {
    display: flex;
    gap: 5vw;
    margin-top: 4vw;
}

#page-add .texi h4 {
    font-size: 2.2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: .5vw;
}

#page-add .num {
    height: 2.5vw;
    width: 2.5vw;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 1.5vw;
    font-size: 1.6vw;
    font-weight: 800;
}

#page-add #res {
    margin-bottom: 2vw;
    display: flex;
}

#page-add #res p {
    font-size: 1.1vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#page3 {
    width: 100%;
    height: 100vh;
    padding: 2vw;
}

#page3>h2 {
    font-size: 6vw;
    font-family: thin;
    margin-left: 45vw;
    /* margin-bottom: 5vw; */
}

#page3 .line {
    width: 48vw;
    margin-left: 45vw;
    height: 1.5px;
    background-color: #323232;
    margin-bottom: 8vw;
    margin-top: 2vw;

}

#divs {
    width: 100%;
    height: 80%;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-evenly;
}

#div1 {
    width: 30%;
    height: 100%;
    border-radius: 2vw;
    background-color: #DDD0C8;
    background-image: linear-gradient(#9b8abe, #DDD0C8);
    padding: 3vw;

    margin-left: 5vw;
}

#div1 i {
    font-size: 4vw;
    font-weight: 100 !important;
}

#div1 h2 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1.3vw;
    font-size: 3vw;
    line-height: 1;
}

#div1 #smalli {
    font-size: 2vw;
}

.check-box {
    margin-top: 3.5vw;
}

#div1 .box {
    display: flex;
    align-items: center;
    margin-bottom: 1.1vw;
}

#div1 .box #smalli {
    font-size: 1vw;
}

#div1 .box h3 {
    font-size: 1.5vw;
    margin-left: .6vw;
    font-family: thin;
}

#div1 h4 {
    font-size: 2.4vw;
    font-weight: 100;
    margin-top: 4vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#div2 {
    width: 30%;
    height: 100%;
    background-color: #DDD0C8;
    background-image: linear-gradient(#9fcea2, #DDD0C8);
    margin-right: 5vw;
    border-radius: 2vw;
    padding: 3vw;
}

#div2 i {
    font-size: 4vw;
}

#div2 h2 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1.3vw;
    font-size: 3vw;
    line-height: 1;
}

#div2 #smalli {
    font-size: 2vw;
}

.check-box {
    margin-top: 3.5vw;
}

#div2 .box {
    display: flex;
    align-items: center;
    margin-bottom: 1.1vw;
}

#div2 .box #smalli {
    font-size: 1vw;
}

#div2 .box h3 {
    font-size: 1.5vw;
    margin-left: .6vw;
    font-family: thin;
}

#div2 h4 {
    font-size: 2.4vw;
    font-weight: 100;
    margin-top: 4vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#page4 {
    width: 100%;
    min-height: 100vh;
    /* padding: 4vw; */
}

#page4 h3 {
    font-size: 8vw;
    font-weight: 500;
    margin-left: 38vw;
    margin-top: 17vw;
    font-family: sans-serif;
    margin-bottom: 2vw;

}

#page4 .line {
    margin-left: 38.5vw;
    width: 57%;
    height: 1.5px;
    margin-bottom: 2vw;
    background-color: #323232;
}

#page4 h3 span {
    color: #14CF93;
    font-family: nex;
}

#works {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    padding: 2vw;
    padding-left: 7vw;
}

.project {
    height: 35vw;
    /* border-radius: 1vw; */
    width: 50vw;
    margin-top: 5vw;
    overflow: hidden;
}

.text-img #p2 {
    width: 45vw;
    height: 28vw;
}

.text-img:nth-child(2) {
    margin-left: 40vw;
}

.text-img:nth-child(4) {
    margin-left: 35vw;
}

.project img {
    width:100%;
    height: 100%;
    position: relative;
    left: 50%;

    opacity: 1;
    transform: translateX(-50%);
    /* object-fit: cover; */
}

.text-img h2 {
    font-size: 3vw;
    font-family: thin;
    margin-top: 1vw;
}

.text-img button {
    padding: .5vw 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    font-size: .61vw;
    background-color: transparent;
    border: 1px solid rgb(101, 53, 5);
    text-transform: uppercase;
    margin-left: .3vw;
    color: rgb(101, 53, 5);
}

.linkedin {
    width: 100%;
    height: 10vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
    margin-bottom: 9vw;
}

.button-bg {
    border-radius: 200px;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #32323252;
    transition: all .6s cubic-bezier(0, .89, .41, 1);

}

.button-bg h4 {
    font-size: 1.4vw;
    font-weight: 100;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #0000009b;
}

.button-bg h4 span {
    color: #14CF93;
    font-family: nex;
}

.button-bg:hover {
    background-color: #fff;
    color: #000;
}

.button-bg:hover h4 {
    color: #000;
    font-weight: 200;
}

#page5 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100vh;
    color: #323232;
}

#page5 h2 {
    font-size: 6vw;
    line-height: 1;
    font-weight: 450;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#page5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#page5 #over-text {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #000;
    background-color: #ffffff46;
    overflow: hidden;

}

.c-button {
    color: #000;
    font-weight: 450;
    font-size: 1.5vw;
    text-decoration: none;
    font-family: thin;
    padding: 2vw 7vw;
    margin-top: 7vw;
    margin-bottom: 10vw;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.c-button--gooey {
    color: #323232;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid #323232;
    border-radius: 200px;
    overflow: hidden;
    position: relative;
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
}

.c-button--gooey .c-button__blobs div {
    background-color: #fff;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
}

.c-button--gooey:hover {
    color: #323;
}

.c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
}


@media (max-width:600px) {
    #page1 {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100vh;
        color: #323232;
    
    }
    
    #text-container {
        background-color: #fff;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        color: #323232;
        overflow: hidden;
        padding-top: 9vw;
    }
    
    #nav {
        display: flex;
        padding: 2vw 3vw;
        align-items: center;
        justify-content: space-between;
        font-family: Telegraf Medium;
    }
    
    #nav h3 {
        font-size: 2.5vw;
        font-weight: 100;
    }
    
    #page1 h2 {
        font-size: 3vw;
        position: absolute;
        -webkit-text-stroke: 1px #323232;
        ;
        color: transparent;
        font-family: ab;
        opacity: .2;
        font-size: 6vw;
        line-height: 1;
        margin-top: 29vw;
        font-weight: 100;
        left: 18%;
        transform: translateY(-25%);
        text-transform: uppercase;
    }
    
    .foth2 {
        margin-top: 29vw;
    
    }
    

    
    #nav button {
        font-size: 2vw;
    }
    
    #title-section {

        height: 100vw;
        /* background-color: red; */
        margin-top: 40vw;
    }
    
    
    #title-section h1 {
        font-size: 9.5vw;
        font-family: nex;
        left: 0%;

    
    }
    #page1 #scroll{
        width: 16vw;
        height: 16vw;
        right: 12%;
        top: 38%;

    }
    #over {
        width: 49%;
        height: 70%;

    
    }

    #page-add {
    width: 100%;
    height: 100vh;
    text-align: normal;
    /* background-color: rgba(255, 0, 0, 0.477); */
    position: relative;

}

#page-add #texi-text {
    text-align: none;
}

#page-add h3 {
    font-size: 12vw;
    font-family: thin;
    top: 20%;
    left: 20%;
    position: absolute;
}

#page-add #texi-text p {
    font-size: 4.1vw;    top: 28%;
    position: absolute;
    right: 1%;
    padding-left: 2vw;
    font-family: sans-serif;
}

#page-add #types {
    display: flex;
    gap: 1vw;
    /* background-color: #fff; */
    flex-direction: column;
    margin-top: 49vw;
}

#page-add .texi h4 {
    font-size: 6.2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 1.5vw;
}

#page-add .num {
    height: 1.8vw;
    width: 1.8vw;
  border-radius: 1px;
  background-color: #323232;
  color: #323232;
  border-radius: 50%;
    margin-top: 14px;
    margin-right: 10px;
    font-size: .6vw;
    font-weight: 800;
}

#page-add #res {
    margin-bottom: 6vw;
    display: flex;
}

#page-add #res p {
    font-size: 3.1vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    
#page2 {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: flex-start;
    color: #323232;
    margin-top: 8vw;
    justify-content: center;
    position: relative;
}

#text {
    width: 100%;
    height: 40vw;
    padding-top: 0vw;
    padding-left: 4vw;
}



#text h4 {
    font-family: thin;
    font-size: 4vw;
    font-weight: 100;
    margin-bottom: 5vw;
}



#text h1 {
    font-family: nex;
    font-size: 11vw;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3vw;
}


#text p {
    font-family: semi;
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: 1px;
}
#page3 {
    width: 100%;
    height: 100vh;
    position: relative;
}

#page3>h2 {
    font-size: 7vw;
    position: absolute;
    top: 0;
}

#page3 .line {
    width: 48vw;
    margin-top: 7vw;

}

#divs {
    width: 100%;
    height: 75%;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

#div1 {
    width: 50%;
    height: 45%;
    margin-bottom: 8vw;
}

#div1 i {
    font-size: 5vw;
}

#div1 h2 {
    margin-top: 3.3vw;
    font-size: 4.5vw;
    line-height: 1;
    margin-bottom: 4vw;
}

#div1 #smalli {
    font-size: 7vw;
}

.check-box {
    margin-top: .5vw;
}

#div1 .box {
    display: flex;
    align-items: center;
    margin-bottom: 2.1vw;
}

#div1 .box #smalli {
    font-size: 2.5vw;
}

#div1 .box h3 {
    font-size: 3.5vw;
    margin-left: .9vw;
    font-weight: 100;
}

#div1 h4 {
    font-size: 5.4vw;
    font-weight: 100;
    margin-top: 8vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#div2 {
    width: 50%;
    height: 45%;
    margin-right: 0vw;
}

#div2 i {
    font-size: 5vw;
}

#div2 h2 {
    margin-top: 3.3vw;
    font-size: 4.5vw;
    line-height: 1;
    margin-bottom: 4vw;
}


.check-box {
    margin-top: 3.5vw;
}

#div2 .box {

    margin-bottom: 2.1vw;

}

#div2 .box #smalli {
    font-size: 2.5vw;
}

#div2 .box h3 {
    font-size: 3.5vw;
    margin-left: .6vw;
    font-weight: 100;
}

#div2 h4 {
    font-size: 5.4vw;
    margin-top: 8vw;
    font-size: 5.4vw;
    margin-top: 8vw;
}



#page4 h3 {
    font-size: 9vw;
    margin-bottom: 2vw;
}

#page4 .line {
    margin-bottom: 6vw;
    background-color: #323232;
}





.project {
    height: 45vw;
    width: 65vw;
    margin-top: 7vw;
}

.text-img #p2 {
    width: 65vw;
    height: 45vw;
}

.text-img:nth-child(2) {
    margin-left: 22vw;
    margin-bottom: 10vw;
}

.text-img:nth-child(4) {
    margin-bottom: 10vw;
    margin-left: 22vw;
}



.text-img h2 {
    font-size: 5vw;
    margin-top: 1.5vw;
}

.text-img button {
    padding: .5vw 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    font-size: 1.61vw;
    background-color: transparent;
    border: 1px solid rgb(101, 53, 5);
    text-transform: uppercase;
    margin-left: .3vw;
    color: rgb(101, 53, 5);
}

.linkedin {
    width: 100%;
    height: 5vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
    margin-bottom: 9vw;
}

.button-bg {
    width: 90%;

}

.button-bg h4 {
    font-size: 3.4vw;
}

#page5 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 25vh;
    color: #323232;
}




.c-button {

    font-size: 2.5vw;
    padding: 1vw 2vw;
    margin-top: 7vw;
    margin-bottom: 10vw;

}


}